* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
  }
  
  .topper-headline {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  
    
  }
  
  .topper-sub-headline {
    font-size: 16px;
    color: #fff;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 100px;
  }
  .background {
    width: 100%;
    height: 700px;
    background-image: url(images/bg6.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    font-display: flex;
    
  }
  .Donate-button {
    text-decoration: none;
    color: white;
    background-color: rgb(252, 66, 33);
    border-radius: 7px;
    padding: 15px;
    font-size: medium;
  }
  .donate-today{
    text-align: center;
    padding: 40px;
    
  }
  .donate-subline{
    color: rgb(104, 102, 102);
    text-align: center;
    font-size: 16px;
    max-width: 600px;
    margin: auto;
    
   
  }
  .donate-money{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;  
    margin: 0;
    
  }
  .money-donate{
    background-color: rgb(231, 229, 229);
    padding: 20px;
    width: auto;
  }
#taka-select{
    color: tomato;
    background-color: pink;
    padding: 20px;
    border: solid 3px red;
    width: auto;
}
.amount-area{
    text-align: center;
    padding: 20px;
} 
.donate-now
    {
        display: flex;
        justify-content: center;
        margin-top: 50px;        
}
.donate-now a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(250, 44, 8);
    color: white;
    border-radius: 7px;
}

   

.button-of-donate{
    text-decoration: none;
    color: #fff;
    background-color: rgb(252, 66, 33);
    padding: 15px;   
}