* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
  }
  
  .topper-headline {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 80px;
  
    
  }
  
  .topper-sub-headline {
    font-size: 16px;
    color: #fff;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 100px;
    padding-top: 50px;
  }
  .background {
    width: 100%;
    height: 700px;
    background-image: url(images/bg6.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    font-display: flex;
    
  }
  .Donate-button {
    text-decoration: none;
    color: white;
    background-color: rgb(252, 66, 33);
    border-radius: 7px;
    padding: 15px;
    font-size: medium;
  }
  .donate-today{
    text-align: center;
    padding: 40px;
    
  }
  .donate-subline{
    color: rgb(104, 102, 102);
    text-align: center;
    font-size: 16px;
    max-width: 600px;
    margin: auto;
    
   
  }
  .donate-money{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;  
    margin: 0;
    
  }
  .money-donate{
    background-color: rgb(231, 229, 229);
    padding: 20px;
    width: auto;
  }
#taka-select{
    color: tomato;
    background-color: pink;
    padding: 20px;
    border: solid 3px red;
    width: auto;
}
.amount-area{
    text-align: center;
    padding: 20px;
} 
.donate-now
    {
        display: flex;
        justify-content: center;
        margin-top: 50px;        
}
.donate-now a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(250, 44, 8);
    color: white;
    border-radius: 7px;
}

   

.button-of-donate{
    text-decoration: none;
    color: #fff;
    background-color: rgb(252, 66, 33);
    padding: 15px;   
}
.top-heading-paragraph{
    text-align: center;
    padding: 50px;
    padding-top: 70px;
}
.top-sub-headig-paragraph{
    color: rgb(104, 102, 102);
    text-align: center;
    font-size: 16px;
    max-width: 600px;
    margin: auto;
    text-align: center;
   
}
.box1 {
    width: 350px;
    height: 600px;
    background-color: rgba(70, 189, 159, 0.918);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 20px;

}

.box1 img {
    width: 100px;

}
.shelter-box2 {
    width: 350px;
    height: 600px;
    background-color: rgb(253, 221, 226);
    text-align: center;
    box-shadow: 8px 8px 16px color gray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 20px;
}

.shelter-box2 img{
    width: 100px;

}
.education-box3 {
    width: 350px;
    height: 600px;
    background-color: rgb(231, 176, 185);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 20px;
}
.donate-box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 6rem;
}
.extra-bonus-headline{
    
    padding-top: 100px;
    padding-left: 10px;
}
.extra-bonus-subline{
    color: rgb(104, 102, 102);
    
    font-size: 22px;
    padding-left: 10px;

}
.contriute-button{
    text-decoration: none;
    color: #fff;
    background-color: tomato;

    
}
.extra-bonus-point{
    display: flex;
    
}
.extra-bonus-point div{
   width: 50%;
}
.extra-point{
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 20px;
}
.donating-button{
    width: fit-content;
    margin-top: 20px;
}
.bonus-pic img{
  width: 100%;
  margin-top: 130px;   
} 
.update-section{
    text-align: center;
    padding-top: 50px;
} 
.update-sub-section{
    color: rgb(104, 102, 102);
    text-align: center;   
    font-size: 16px;
    padding-left: 10px;

}


.email-box{
    font: 700;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.747);
    text-align: justify;
    
}
.subscribe-box{
    font: 700;
    width: 100px;
    margin-left: -8px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color: Red;
    text-align: center;
}
.update-form{
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    height: 15%;
    background-color:bisque;
    padding: 60px 20px 30px 20px;
    size: 3rem;
    margin-bottom: 5%;

  
}