body{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.background{
    background-image: url(images/bg6.jpeg);
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;     
}
.Donate-button{
    text-decoration: none;
    color: white;
    background-color: rgb(252, 66, 33);
    border-radius: 7px;
    padding: 15px;
    font-size: medium;
}
